<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<table>
  <thead>
    <tr>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
      <th>F</th>
      <th>G</th>
      <th>H</th>
      <th>I</th>
      <th>J</th>
      <th>K</th>
      <th>L</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.a %></td>
        <td><%= entry.b %></td>
        <td><%= entry.c %></td>
        <td><%= entry.d %></td>
        <td><%= entry.e %></td>
        <td><%= entry.f %></td>
        <td><%= entry.g %></td>
        <td><%= entry.h %></td>
        <td><%= entry.i %></td>
        <td><%= entry.j %></td>
        <td><%= entry.k %></td>
        <td><%= entry.l %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
